.signuppage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    height: 30vh;
}

.signuppage h1{
    text-align: center;
}